<%= form_with(model: age_validation, local: true) do |form| %>
  <% if age_validation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(age_validation.errors.count, "error") %> prohibited this age_validation from being saved:</h2>

      <ul>
      <% age_validation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :min %>
    <%= form.date_select :min, id: :age_validation_min %>
  </div>

  <div class="field">
    <%= form.label :max %>
    <%= form.date_select :max, id: :age_validation_max %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.number_field :type, id: :age_validation_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
