<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>Pengaturan</h2>
      </div>
      <div class="body">
      <%= form_for(@age_validation) do |f| %>
        <h5>Validasi Usia</h5><hr>
        <h2 class="card-inside-title">Minimum</h2>
        <div class="form-group form-float">
            <div class="form-line">
                <%= f.text_field :min, class: "form-control datepicker" %>
            </div>
        </div>
        <h2 class="card-inside-title">Maximum</h2>
        <div class="form-group form-float">
            <div class="form-line">
                <%= f.text_field :max, class: "form-control datepicker" %>
                
            </div>
        </div>
      <%= f.submit "SIMPAN", class: "btn btn-primary waves-effect"%>
      <% end %>
      <br>

      <%= form_for(@passport_validation) do |f| %>
          <h5>Validasi Paspor</h5><hr>
          <!-- <h2 class="card-inside-title">Minimum</h2> -->
          <!-- <div class="form-group form-float">
              <div class="form-line">
                  <%#= f.text_field :min, class: "form-control datepicker"%>
              </div>
          </div> -->
          <h2 class="card-inside-title">Minimum</h2>
          <div class="form-group form-float">
              <div class="form-line">
                  <%= f.text_field :min, class: "form-control datepicker", required:true %>
              </div>
          </div>
        <%= f.submit "SIMPAN", class: "btn btn-primary waves-effect"%>
        <% end %>
      </div>
    </div>
  </div>

  
</div>