<p id="notice"><%= notice %></p>

<p>
  <strong>Min:</strong>
  <%= @age_validation.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @age_validation.max %>
</p>

<p>
  <strong>Type:</strong>
  <%= @age_validation.type %>
</p>

<%= link_to 'Edit', edit_age_validation_path(@age_validation) %> |
<%= link_to 'Back', age_validations_path %>
