<div class="row clearfix">
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>
            HALAMAN AWAL
        </h2>
      </div>
      <div class="body">
        <%= form_for(@landing) do |f| %>
          <div class="form-group form-float">
            <div class="form-line">
              <%= f.text_area :title, class:"form-control", id:"textarea"%>
            </div>
          </div>
          <%= f.submit "SIMPAN", class:"btn btn-primary waves-effect" %>
        <% end %>
      </div>
    </div>
  </div>
</div>