<% content_for :title, "| Selamat Datang di Aplikasi BIPA 2018" %>

<div class="four-zero-four-container container-landing-page container text-center">
    <h1><%= @landing.title.html_safe %></h1>
    <div class="row">
        <div class="col-xs-12" style="height: 350px">
                <img src="<%= asset_path('kemdikbud_logo') %>" width="250" alt="">
        </div>
        
    </div>
    <div class="row">
        <div class="col-xs-12 error-message">
            <h3>Jadwal Pendaftaran</h3>
            <p><%= I18n.l(Schedule.last.start_registration, format: :long) %> S.D <%= I18n.l(Schedule.last.end_registration, format: :longtime) %> </p>
        </div>

        <div class="">
        <% unless user_signed_in? or admin_signed_in? %>
            <% 
            unless Schedule.can_register?
                klass_regis = "disabled"
            end

            unless Schedule.can_sign_in?
                klass_sign_in = "disabled"
            end 

            %>
            <%= %>
            <a href="<%= new_user_session_path  %>" class="btn btn-default btn-lg waves-effect m-t-30 <%= klass_sign_in %>" >LOGIN</a><!-- disabled --> 
            <a href="<%= new_user_registration_path  %>" class="btn btn-default btn-lg waves-effect m-t-30 <%= klass_regis %>">DAFTAR</a>
        <% end %>
        </div>
        
    </div>
</div>
<!-- <iframe src="http://localhost:3000/landings" frameborder="0"></iframe> -->