<% content_for :title, "| Selamat Datang di Aplikasi LPBBIPA #{Time.now.year}" %>
<div class="container container-landing-page">
    <div class="row ">
        <div class="col-xs-12" style="height: 350px">
                <img src="<%= asset_path('kemdikbud_logo.png') %>" width="250" alt="">
                <div class="sub">
                    <p>ATDIKBUD BPKLN KEMENDIKBUD RI</p>
                </div>
        </div>
        
    </div>    
</div>
<div class="four-zero-four-container bg-white container-landing-page container text-center">
    <div> <%= @landing.title.html_safe %></div>
    <div class="row">
<!--         <div class="col-xs-12 error-message">
            <h3>Jadwal Pendaftaran</h3>
            <p><%#= I18n.l(Schedule.last.start_registration, format: :longtime) %> s.d <%#= I18n.l(Schedule.last.end_registration, format: :longtime) %> </p>
        </div> -->

        <div class="">
        <% unless user_signed_in? or admin_signed_in? %>
            <% 
            unless Schedule.can_register?
                klass_regis = "disabled"
            end

            unless Schedule.can_sign_in?
                klass_sign_in = "disabled"
            end 

            %>
            <div class="col-md-2 col-md-offset-5">
                <a href="<%= new_user_session_path  %>" class="btn btn-primary btn-lg btn-block waves-effect m-t-30 <%= klass_sign_in %>" >MASUK</a><!-- disabled --> 
            </div>
            <div class="col-md-2 col-md-offset-5">
                <a href="<%= new_user_registration_path  %>" class="btn btn-primary btn-lg btn-block waves-effect m-t-30 <%= klass_regis %>">DAFTAR</a>
            </div>
        <% end %>
        </div>
        
    </div>
</div>
<div class="bg" data-bg="<%= get_bgs %>"></div>
<!-- <iframe src="http://localhost:3000/landings" frameborder="0"></iframe> -->