<div class="header text-left">
  <h2>
    <%= link_to 'Back', landings_path, class:"btn btn-default waves-effect" %>
  </h2>
</div>

<!-- <div class="preview"> -->
	<%= render "index" %>
<!-- </div> -->