<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Halo,</p>
    <p>Anda telah berhasil mengirim aplikasi pendaftaran Lomba Pidato dan Bercerita dalam Bahasa Indonesia bagi Penutur Asing (BIPA).</p>
		<br>

    <p>Anda mengirimkan aplikasi pendaftaran lomba ke</p>
    <p>KBRI: <%= @user.admin.name rescue nil %></p>
    <p>pos-el: <%= @user.admin.email rescue nil %> </p>
    <p>nomor telepon: <%= @user.admin.contact rescue nil %></p>
		<br>

    <p>Bagi Anda yang menerima konfirmasi ini setelah tanggal 30 April 2018, silakan hubungi KBRI untuk mendapatkan penjelasan selanjutnya.</p>
		<br>

    <p>Salam kami,</p>
    <p>Atase Pendidikan dan Kebudayaan Republik Indonesia <br>	
    Kementerian Pendidikan dan Kebudayaan Republik Indonesia</p>

  </body>
</html>