<!-- <p id="notice"><%#= notice %></p>

<p>
  <strong>Plot:</strong>
  <%#= @score.plot %>
</p>

<p>
  <strong>Content:</strong>
  <%#= @score.content %>
</p>

<p>
  <strong>Bahasa:</strong>
  <%#= @score.bahasa %>
</p>

<p>
  <strong>Fluency:</strong>
  <%#= @score.fluency %>
</p>

<p>
  <strong>Interlude:</strong>
  <%#= @score.interlude %>
</p>

<p>
  <strong>Gesture:</strong>
  <%#= @score.gesture %>
</p>

<p>
  <strong>Sound:</strong>
  <%#= @score.sound %>
</p>

<p>
  <strong>Duration:</strong>
  <%#= @score.duration %>
</p>

<p>
  <strong>Showing:</strong>
  <%#= @score.showing %>
</p>

<p>
  <strong>Type:</strong>
  <%#= @score.type %>
</p>

<p>
  <strong>User:</strong>
  <%#= @score.user %>
</p>

<%#= link_to 'Edit', edit_score_path(@score) %> |
<%#= link_to 'Back', scores_path %>
 -->