<% content_for :title, "| Dashboard" %>
    <div class="row clearfix">
      <%= render "shared/user_sidebar"%>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <div class="alert alert-<%= @user.lock ? 'success' : 'danger' %>">
                <%if @user.lock %>
                <ul>
                  <li>
                    <strong>Selamat!</strong> Formulir Anda sudah dikirim. 
                  </li>
                  <li>
                    Formulir anda saat ini sudah dikunci dan tidak bisa di ubah, untuk dapat mengubah silakan "pusat.atdikbud@kemendikbud.go.id".
                  </li>
                </ul>
                <% else %>
                  <strong>Perhatian!</strong> Formulir belum dikirim, mohon lengkapi lalu klik tombol kirim di bawah.
                <% end %>
              </div>
              <h2><%= @user.lock ? '<i class="material-icons">lock </i>'.html_safe : '' %> 
              Formulir Pendaftaran</h2>
            </div>
            <div class="body <%= @user.lock ? "lock" : '' %>">
              <%= form_for(@user, url: users_dashboard_path(@user), html: { multipart: true, id:"edit_user" } ) do |f| %>
                  <h2  class="card-inside-title">Nama sesuai paspor <%= required(nil) %></h2>
                  <div class="form-group form-float">
                    <div class="form-line">
                      <label for="name" class="hidden">Nama sesuai paspor : </label>
                      <%= f.text_field :name, class: "form-control", placeholder:"Nama Sesuai paspor", id:"name" %>
                    </div>
                  </div>
                  <h2  class="card-inside-title">Jenis kelamin <%= required(nil) %></h2>
                  <div class="form-group">
                    <%= f.radio_button :gender, "lk", required:true, id:"male", class: "with-gap" %>
                      <%= label :male, "Laki-Laki", for:"male", data:{name:"Jenis kelamin : "} %>
                      <!-- <label for="male" class="hidden">Jenis kelamin : </label> -->
                    <%= f.radio_button :gender, "pr", id:"female", required:true, class: "with-gap" %>
                      <!-- <label for="female" class="hidden">Jenis kelamin : </label> -->
                      <%= label :female, "Perempuan", for:"female", data:{name:"Jenis kelamin : "} %>
                  </div>
                  <h2 class="card-inside-title">Nomor paspor (bisa diisi nanti)</h2>
                  <div class="form-group form-float">
                    <div class="form-line">
                      <label for="no_passport" class="hidden">Nomor paspor : </label>
                      <%= f.text_field :passport, class:"form-control",  placeholder:"No paspor", id:"no_passport"%>
                    </div>
                  </div>
                  <h2 class="card-inside-title">Tanggal kadaluarsa paspor (bisa diisi nanti)</h2>
                  <div class="form-group form-float">
                    <div class="form-line">
                      <label for="tgl_passport" class="hidden">Tanggal kadaluarsa paspor : </label>
                      <%= f.text_field :passport_expire, class:"form-control datepicker", id:"tgl_passport", placeholder:"Kadaluarsa paspor" %>
                    </div>
                  </div>
                  
                  <h2 class="card-inside-title">Di negara mana Anda akan mengikuti lomba? <%= required(nil) %></h2>
                  <div class="form-group">
                    <div class="input-group form-float">
                      <div class="form-line">
                        <label for="country_contest" class="hidden">Di negara mana Anda akan mengikuti lomba? : </label>
                        <%= f.select(:country_id, Country.contributes.collect {|c| [ c.name, c.id ] }, {}, id:"country_contest", class:"form-control form-control--z-5 show-tick", required:true, "data-title":"Pilih Negara",'data-live-search':true) %>
                      </div>
                    </div>
                  </div>
                  <h2 class="card-inside-title">Di KBRI mana Anda akan mengikuti lomba? <%= required(nil) %></h2>
                  <div class="form-group">
                    <div class="input-group form-float">
                      <div class="form-line " id="consulates_lists">
                        <label for="kbri" class="hidden">Di KBRI mana Anda akan mengikuti lomba? : </label>
                        <% if @user.country %>
                        <%= f.select(:admin_id, @user.country.admins.all.collect {|c| [ c.name, c.id ] }, {}, id:"kbri", class:"form-control form-control--z-4 show-tick", required:true, 'data-live-search':true, "data-title":"Pilih KBRI") %>
                        <% else %>
                        <%= f.select(:admin_id, Admin.consulates.all.collect {|c| [ c.name, c.id ] }, {}, id:"kbri", class:"form-control form-control--z-4 show-tick", required:true, 'data-live-search':true, "data-title":"Pilih KBRI") %>
                        <% end %>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <h2 class="card-inside-title">Pilih Lomba <%= required(nil) %></h2>
                     <%= f.fields_for :score, @user.score do |ff| %>
                      <div class="form-line">
                          <%= ff.radio_button :kind, "pidato", required:true, id:"pidato",  class: "with-gap" %>
                            <%= label :pidato, "Pidato", for:"pidato", data:{name:"Pilih lomba : "} %>
                          <%= ff.radio_button :kind, "bercerita", id:"bercerita", required:true  , class: "with-gap" %>
                            <%= label :bercerita, "Bercerita", for:"bercerita", data:{name:"Pilih lomba : "} %>
                      </div>
                     <% end %>
                  </div>
                  <h2 class="card-inside-title">Tanggal lahir <%= required(nil) %>
                  </h2>
                  <div class="form-group form-float">
                    <div class="form-line">
                      <label for="dob" class="hidden">Tanggal lahir : </label>
                      <%= f.text_field :dob, class:"datepickerage form-control", id:"dob", required:true %>
                    </div>
                  </div>
                  <h2  class="card-inside-title">Nomor ponsel<%= required(nil) %></h2>
                  <div class="form-group form-float">
                    <div class="form-line">
                      <label for="phone" class="hidden">Nomor ponsel : </label>
                      <%= f.number_field :phone, id:"phone", class:"form-control", required:true, placeholder:"No Handphone" %>
                    </div>
                  </div>
                  
                  <h2  class="card-inside-title">Profesi <%= required(nil) %>
                  </h2>
                  <div class="form-group form-float">
                    <div class="form-line">
                      <%= f.radio_button :profession, "Profesional/Umum", id:"profesional", required:true  , class: "js-profession with-gap" %>
                      <%= label :profesional, "Profesional/Umum", for:"profesional", data:{name:"Profesi : "} %>
                      <%= f.radio_button :profession, "Mahasiswa/Pelajar", required:true, id:"pelajar", class: "with-gap" %>
                      <%= label :profession, "Mahasiswa/Pelajar", for:"pelajar", data:{name:"Profesi : "} %>
                    </div>
                  </div>
                  
                  <h2 class="card-inside-title">Pernah ke Indonesia <%= @user.count_to_indonesia %> (apabila belum pernah tidak harus diisi) </h2>
                  <% if @user.to_indonesias.present? %>
                    <!-- <div class="form-group form-float">
                    </div> -->
                    <div class="row clearfix js-to-indonesia-details">
                      <%= f.fields_for :to_indonesias do |ff| %>
                        <div class="wrap">
                          <div class="col-xs-12">
                            <div class="form-group form-float">
                              <div class="form-line">
                                <label class="hidden" for="<%=ff.object.id%>_to_indo">Pernah ke Indonesia : </label>
                                <%= ff.text_field :destination, class:"form-control ", placeholder:"Tujuan", required:true, id:ff.object.id.to_s+'_to_indo' %>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <div class="form-group form-float">
                              <div class="form-line">
                                <label class="hidden" for="<%=ff.object.id%>_long">Berapa kali : </label>
                                <%= ff.number_field :long, class:"form-control times ", placeholder:"Berapa kali", required:true, id:ff.object.id.to_s+'_long' %>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <div class="form-line">
                                <label class="hidden" for="<%=ff.object.id%>_unit">Satuan : </label>
                                <%= ff.select(:unit, [["Hari","hari"], ["Bulan","bulan"], ["Tahun","tahun"]], {}, id:ff.object.id.to_s+'_unit', class:"unit form-control form-control--z-5 show-tick", required:true, "data-title":"Pilih Satuan") %>
                            </div>

                            <%= link_to 'Hapus Kunjungan', to_indonesia_path(ff.object), class:"pull-right m-t-15 btn btn-danger waves-effect", data:{confirm: 'Kamu yakin?' }, :method => :delete %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <a class="btn btn-primary waves-effect js-add-dest">Tambahkan Kunjungan</a>
                  <% else %>
                    <%= f.fields_for :to_indonesias, ToIndonesia.new do |ff| %>
                      <div class="row clearfix js-to-indonesia-details">
                      </div>
                      <a class="btn btn-primary waves-effect js-add-dest">Tambahkan Kunjungan</a>
                    <% end %>
                  <% end %>

                  <h2 class="card-inside-title">Pernah Kursus BIPA (apabila belum pernah tidak harus diisi)</h2>
                  <% if @user.bipa_courses.present? %>
                    <div class="row clearfix js-course-details">
                      <%= f.fields_for :bipa_courses do |ff| %>
                        <div class="wrap">
                          <div class="col-xs-12">
                            <div class="form-group form-float">
                              <div class="form-line">
                              <label class="hidden" for="<%=ff.object.id%>_bipa">Pernah Kursus BIPA : </label>
                              <%= ff.text_field :location, class:"form-control", id:ff.object.id.to_s+'_bipa',  placeholder:"Lokasi", required:true %>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <div class="form-group form-float">
                              <div class="form-line">
                              <label class="hidden" for="<%=ff.object.id%>_long_bipa">Berapa Lama : </label>
                                <%= ff.number_field :long, class:"form-control with-gap", id:ff.object.id.to_s+'_long_bipa',  placeholder:"Berapa Lama", required:true %>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <div class="form-line">
                              <label class="hidden" for="<%=ff.object.id%>_unit">Satuan : </label>
                              <%= ff.select(:unit, [["Hari","hari"], ["Bulan","bulan"], ["Tahun","tahun"]], {}, id:ff.object.id.to_s+'_unit', class:"form-control form-control--z-5 show-tick", required:true, "data-title":"Pilih Satuan") %>
                            </div>
                            <%= link_to 'Hapus Kursus', bipa_course_path(ff.object), class:"pull-right m-t-15 btn btn-danger waves-effect",
                             data:{confirm: 'Kamu yakin?' }, :method => :delete %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                   <a class="btn btn-primary waves-effect js-add-course m-b-25">Tambahkan Kursus</a>
                  
                  <% else %>
                    <%= f.fields_for :bipa_courses, BipaCourse.new do |ff| %>
                    <div class="row clearfix js-course-details">
                    </div>
                    <% end %>
                    <a class="btn btn-primary waves-effect js-add-course m-b-25">Tambahkan Kursus</a>

                  <% end %>
                  <h2 class="card-inside-title">ID Skype (tidak harus diisi/bisa diisi nanti)</h2>
                  <div class="form-group form-float">
                    <div class="form-line">
                      <label for="skype" class="hidden">ID Skype : </label>
                      <%= f.text_field :skype_id, id:"skype", class:"form-control" %>
                      <!-- <label class="form-label">ID Skype</label> -->
                    </div>
                  </div>

                  <h2  class="card-inside-title">Riwayat Pendidikan</h2>
                  <h2  class="card-inside-title">Nama lembaga pendidikan/lembaga tempat bekerja <%= required(nil) %></h2>
                  <div class="form-group form-float">
                    <div class="form-line">
                      <label for="campus" class="hidden">Nama lembaga pendidikan/lembaga tempat bekerja : </label>
                      <%= f.text_field :campus, id:"campus", class:"form-control", required:true, placeholder:"Nama Lembaga" %>
                    </div>
                  </div>

                  <% if @user.avatar.path %>
                    <h2 class="card-inside-title">Ganti Foto
                    <span>(Maksimum 1MB, Format: JPG, PNG) <%= required(nil) %> </span></h2>
                    <a data-fancybox="gallery" href="<%= @user.avatar.url %>" data-caption="Profil"><img src="<%= @user.avatar.url %>" class="img-responsive col-sm-6 "></a>
                    <div class="form-group form-float">
                      <div class="form-line">
                        <%= f.file_field :avatar, placeholder:"Unggah foto", class:"form-control"%>
                      </div>
                    </div>
                  <% else %>
                    <h2 class="card-inside-title">Unggah foto 
                    <span >(Maksimum 1MB, Format: JPG, PNG) <%= required(nil) %></span></h2>
                  <b>Foto 3 bulan terakhir, latar belakang putih, Menghadap ke depan
                  <a data-fancybox="gallery" href="<%= asset_path('foto') %>" data-caption="Contoh Poto">Lihat contoh foto</a></b>
                    <div class="form-group form-float">
                      <div class="form-line">
                        <%= f.file_field :avatar, placeholder:"Unggah foto", class:"form-control", required:true %>
                      </div>
                    </div>
                  <% end %>

                  <% if @user.passport_image.path %>
                    <h2 class="card-inside-title">Ganti paspor 
                      <span>(Maksimum 1MB, Format: JPG, PNG, PDF) (bisa diisi nanti)</span>
                    </h2>
                    <% if @user.is_image? %>
                      <a data-fancybox="gallery" href="<%= @user.passport_image.url %>" data-caption="Passport"><img src="<%= @user.passport_image.url %>" class="img-responsive col-sm-6 "></a>
                    <% else %>
                      <%= link_to "#{@user.passport_image.original_filename}", @user.passport_image.url, class: "", download: "#{@user.passport_image.original_filename}" %>
                    <% end %>
                    <div class="form-group form-float">
                      <div class="form-line">
                        <%= f.file_field :passport_image, placeholder:"Unggah paspor", class:"form-control" %>
                      </div>
                    </div>
                  <% else %>
                    <h2 class="card-inside-title">Unggah paspor 
                    <span>(Maksimum 1MB, Format: JPG, PNG, PDF) (bisa diisi nanti)</span></h2>
                    <div class="form-group form-float">
                      <div class="form-line">
                        <%= f.file_field :passport_image, placeholder:"Unggah paspor", class:"form-control"%>
                      </div>
                    </div>
                  <% end %>
                  
                  <div class="clearfix m-t-20">
                    <%= f.submit "SIMPAN", formnovalidate:true, class: "btn btn-lg btn-success waves-effect", data:{toggle:"tooltip", placement:"top",
                        "original-title":"Hanya Simpan"}%>
                    <%= f.submit "KIRIM", class: "btn btn-lg btn-primary waves-effect", data:{toggle:"tooltip", placement:"top",
                        "original-title":"Simpan dan Kirim"}%>
                        <p><br/><b>Simpan:</b> Klik tombol SIMPAN untuk menyimpan data dan formulir masih bisa diubah, Anda harus klik tombol kirim untuk menyelesaikan pendaftaran. <br/><b>Kirim:</b> Jika sudah klik KIRIM tidak bisa diubah lagi.</p>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
    </div>