<div class="row clearfix">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    EDIT JADWAL
                </h2>
            </div>
            <div class="body">
              <%= form_for(@schedule) do |f| %>
                <h2 class="card-inside-title">Mulai registrasi</h2>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.text_field :start_registration, required:true,  class: "form-control datetimepicker"%>
                    </div>
                </div>
                <h2 class="card-inside-title">Selesai registrasi</h2>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.text_field :end_registration, required:true,  class: "form-control datetimepicker"%>
                        
                    </div>
                </div>
                <h2 class="card-inside-title">Mulai verifikasi pusat</h2>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.text_field :start_central_verification, required:true,  class: "form-control datetimepicker"%>
                        
                    </div>
                </div>
                <h2 class="card-inside-title">Selesai verifikasi pusat</h2>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.text_field :end_central_verification, required:true,  class: "form-control datetimepicker"%>
                    </div>
                </div>
                <h2 class="card-inside-title">Mulai seleksi KBRI/KJRI</h2>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.text_field :start_consulate_selection, required:true,  class: "form-control datetimepicker"%>
                        
                    </div>
                </div>
                <h2 class="card-inside-title">Selesai seleksi KBRI/KJRI</h2>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.text_field :end_consulate_selection, required:true,  class: "form-control datetimepicker"%>
                        
                    </div>
                </div>
                <h2 class="card-inside-title">Mulai seleksi pusat</h2>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.text_field :start_central_selection , required:true,  class: "form-control datetimepicker"%>
                        
                    </div>
                </div>
                <h2 class="card-inside-title">Selesai seleksi Pusat (pengumuman)</h2>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.text_field :end_central_selection, required:true,  class: "form-control datetimepicker"%>
                        
                    </div>
                </div>
              <%= f.submit "SIMPAN", class: "btn btn-primary waves-effect"%>
            <% end %>
          </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <%= render partial: "shared/schedule", locals:{schedule: @schedule_view} %>
   </div>



</div><!-- ROW -->