<h2 class="card-inside-title">Struktur/Alur <span class="col-pink">(max 20)</span></h2>
<div class="form-group form-float">
    <div class="form-line">
        <%= f.number_field :plot, class:"form-control" , min:"0", max:"20", required:true  %>
    </div>
</div>
<h2 class="card-inside-title">Isi <span class="col-pink">(max 20)</span></h2>
<div class="form-group form-float">
    <div class="form-line">
        <%= f.number_field :content, class:"form-control" , min:"0", max:"20", required:true  %>
    </div>
</div>
<h2 class="card-inside-title">Kelancaran <span class="col-pink">(max 15)</span></h2>
<div class="form-group form-float">
    <div class="form-line">
        <%= f.number_field :fluency, class:"form-control", min:"0", max:"15", required:true  %>
    </div>
</div>

<h2 class="card-inside-title">Gestur/Mimik <span class="col-pink">(max 10)</span></h2>
<div class="form-group form-float">
    <div class="form-line">
        <%= f.number_field :gesture, class:"form-control", min:"0", max:"10", required:true  %>
    </div>
</div>
<h2 class="card-inside-title">Volume Suara <span class="col-pink">(max 5)</span></h2>
<div class="form-group form-float">
    <div class="form-line">
        <%= f.number_field :sound, class:"form-control", min:"0", max:"5", required:true  %>
    </div>
</div>
<h2 class="card-inside-title">Waktu/Durasi <span class="col-pink">(max 5)</span></h2>
<div class="form-group form-float">
    <div class="form-line">
        <%= f.number_field :duration, class:"form-control", min:"0", max:"5", required:true  %>
    </div>
</div>
<h2 class="card-inside-title">Total Nilai <span class="col-pink">(max 100)</span></h2>
<div class="form-group form-float">
    <div class="form-line">
        <input type="text" class="form-control total-nilai" max="100" value="<%= @score.counting %>" disabled>
    </div>
</div>
<h2 class="card-inside-title">Catatan <span class="col-pink">(harus diisi)</span></h2>
<div class="form-group form-float">
    <div class="form-line">
        <%= f.text_area :note, class:"form-control", placeholder:"Catatan", required:true  %>
    </div>
</div>
<h2 class="card-inside-title">Pemberi Nilai <span class="col-pink">(harus diisi)</span></h2>
<div class="form-group form-float">
    <div class="form-line">
        <%= f.text_field :giver, class:"form-control", placeholder:"Pemberi Nilai", required:true  %>
    </div>
</div>