<div class="card">
  <div class="header">
    <h2>Jadwal</h2>
  </div>
  <div class="body">
    <div class="table-responsive">
      <table class="table table-hover table-striped dashboard-task-infos">
        <tr>
          <td>Mulai registrasi</td>
          <td>
            <%= I18n.l(schedule.start_registration, format: :longtime)%>
          </td>
        </tr>
        <tr>
          <td>Selesai registrasi</td>
          <td>
            <%= I18n.l(schedule.end_registration, format: :longtime)%>
          </td>
        </tr>
        <tr>
          <td>Mulai verifikasi pusat</td>
          <td>
            <%= I18n.l(schedule.start_central_verification, format: :longtime) rescue nil%>
          </td>
        </tr>
        <tr>
          <td>Selesai verifikasi pusat</td>
          <td>
            <%= I18n.l(schedule.end_central_verification, format: :longtime) rescue nil%>
          </td>
        </tr>
        <tr>
          <td>Mulai seleksi KBRI/KJRI</td>
          <td>
            <%= I18n.l(schedule.start_consulate_selection , format: :longtime)%>
          </td>
        </tr>
        <tr>
          <td>Selesai seleksi KBRI/KJRI</td>
          <td>
            <%= I18n.l(schedule.end_consulate_selection , format: :longtime)%>
          </td>
        </tr>
        <tr>
          <td>Mulai seleksi pusat</td>
          <td>
            <%= I18n.l(schedule.start_central_selection, format: :longtime)%>
          </td>
        </tr>
        <tr>
          <td>Selesai seleksi Pusat (pengumuman)</td>
          <td>
            <%= I18n.l(schedule.end_central_selection, format: :longtime)%>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>