  <div class="row clearfix">
      <div class="col-md-4">
        <div class="thumbnail">
          <a data-fancybox="gallery" href="<%= @user.avatar.url if @user.avatar %>" data-caption="Profil"> <img src="<%= @user.avatar.path ? asset_path(@user.avatar.url) : asset_path('dummyuser')%>" alt="" class="img-responsive"></a>
        </div>
        
        <div class="card">
            <div class="header">
                <h2>
                    <%= @user.name.titlecase %> | <%= @user.id_reg %>
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped dashboard-task-infos">
                        <tbody>
                        <tr>
                          <td>Status Pendaftaran</td>
                          <td><%= show @user.win %></td>
                        </tr>
                        <tr>
                          <td>Status Akun</td>
                          <td><%= @user.status_akun %></td>
                        </tr>
                        <tr>
                          <td>Status Profil</td>
                          <td><%= @user.lock ? "Dikunci" : "Tidak Dikunci" %></td>
                        </tr>
                        <tr>
                          <td>Status Kiriman</td>
                          <td><%= show( @user.lock ? "Dikirim" : "Belum Dikirim") %></td>
                        </tr>
                        <tr>
                          <td>No Registrasi</td>
                          <td><%= @user.id_reg %></td>
                        </tr>
                        <tr>
                          <td>Nama</td>
                          <td><%= @user.name.titlecase %></td>
                        </tr>
                        <tr>
                          <td>Jenis Kelamin</td>
                          <td><%= @user.gender_print %></td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td><%= @user.email %></td>
                        </tr>
                        <tr>
                          <td>Nomor ponsel</td>
                          <td><%= @user.phone %></td>
                        </tr>
                        <tr>
                          <td>Profesi</td>
                          <td><%= @user.profession %></td>
                        </tr>
                        <tr>
                          <td>Tanggal lahir</td>
                          <% dob = @user.dob ? I18n.l(@user.dob, format: :long) : ""  %>
                          <td><%= show( dob )  %></td>
                        </tr>
                        <tr>
                          <td>Usia</td>
                          <td><%= @user.counting_age %></td>
                        </tr>
                        <tr>
                          <td>No Passport</td>
                          <td><%= @user.passport %></td>
                        </tr>
                        <tr>
                          <td>Tanggal  Expire Passport</td>
                          <td><%= @user.passport_expire ? I18n.l(@user.passport_expire, format: :long) : "" %></td>
                        </tr>
                        <tr>
                          <td>Negara Asal</td>
                          <td><%= @user.country.name.titlecase rescue nil %></td>
                        </tr>
                        <tr>
                          <td>KBRI/KJRI Tempat Perlombaan</td>
                          <td><%= @user.admin.name.titlecase rescue nil %></td>
                        </tr>
                        <% if @user.to_indonesias.present?  %>
                          <% @user.to_indonesias.each do |dest| %>
                            <tr class="bold">
                              <td>Tujuan ke Indonesia</td>
                              <td><%= dest.destination.titlecase %>, <%= dest.long %> <%= dest.unit.titlecase %></td>
                            </tr>
                          <% end %>
                          <% else %>
                          <tr>
                            <td>Pernah ke Indonesia</td>
                            <td><%=show("")%></td>
                          </tr>
                        <% end %>
                        <tr>
                          <td>Jumlah Kunjungan ke Indonesia</td>
                          <td><%= @user.count_to_indonesia %></td>
                        </tr>
                        <tr>
                        <tr>
                          <td>ID Skype</td>
                          <td><%= @user.skype_id rescue nil%></td>
                        </tr>
                        <tr>
                          <td>Jenis Lomba</td>
                          <td><%= @user.score.kind ? @user.score.kind.titlecase : show(@user.score.kind)  %></td>
                        </tr>
                        <% if @user.bipa_courses.present?  %>
                          <% @user.bipa_courses.each do |course| %>
                            <tr class="bold">
                              <td>Kursus BIPA</td>
                              <td><%= course.location.titlecase %>, <%= course.long %> <%= course.unit.titlecase %></td>
                            </tr>
                          <% end %>
                        <% else %>
                          <tr>
                            <td>Pernah Kursus BIPA</td>
                            <td><%=show("")%></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>

                  <div class="action-user-users">
                    <%# if can? :confirm, @user %>
                    <% if @admin.role.eql?"admin" %>
                      <% if @user.confirmed? %>
                        <a href="#x" class="disabled btn bg-blue waves-effect">Aktivasi</a>
                      <% else %>
                        <a href="<%= confirm_admins_dashboard_path(@user) %>" class="btn bg-blue waves-effect">Aktivasi</a>
                      <% end %>

                      <% if @user.lock %>
                        <%= form_for(@user, url: update_user_admins_dashboard_path) do |f| %>
                            <%= f.hidden_field :lock, value:false %>
                            <%= f.submit "Buka Kunci", class:"btn bg-blue waves-effect" %>
                        <% end %>
                        <% else %>
                        <%= form_for(@user, url: update_user_admins_dashboard_path) do |f| %>
                            <%= f.hidden_field :lock, value:true %>
                            <%= f.submit "Kunci Profil", class:"btn bg-blue waves-effect" %>
                        <% end %>
                      <% end %>
                    <% end %>
                    
                    <% if @user.win.nil? %>
                      <%= form_for(@user, url: update_user_admins_dashboard_path) do |f| %>
                          <%= f.hidden_field :win, value:true %>
                          <%= f.submit "Direkomendasi", class:"btn bg-blue waves-effect", disabled: @admin.can_assesment? ? false : true %>
                      <% end %>
                      <%= form_for(@user, url: update_user_admins_dashboard_path) do |f| %>
                          <%= f.hidden_field :win, value:false %>
                          <%= f.submit "Tidak Direkomendasi", class:"btn bg-blue waves-effect", disabled: @admin.can_assesment? ? false : true %>
                      <% end %>
                    <% else %>
                      <%= form_for(@user, url: update_user_admins_dashboard_path) do |f| %>
                          <%= f.hidden_field :win, value:true %>
                          <%= f.submit "Direkomendasi", class:"btn bg-blue waves-effect", disabled: @user.win ? true : false, disabled: @admin.can_assesment? ? false : true %>
                      <% end %>
                      <%= form_for(@user, url: update_user_admins_dashboard_path) do |f| %>
                          <%= f.hidden_field :win, value:false %>
                          <%= f.submit "Tidak Direkomendasi", class:"btn bg-blue waves-effect", disabled: @user.win ? false : true, disabled: @admin.can_assesment? ? false : true %>
                      <% end %>
                    <% end %>

                    <%= form_for(@user, url: update_user_admins_dashboard_path) do |f| %>
                      <%= f.hidden_field :win, value: nil %>
                        <% if @admin.role.eql?"admin" %>
                          <%= f.hidden_field :lock, value: @user.lock ? false : true %>
                        <% end %>
                      <%= f.submit "Revoke Aksi", class:"btn bg-blue waves-effect revoke", disabled: @admin.can_assesment? ? false : true %>
                    <% end %>


                    <% if @admin.role.eql?"admin" %>
                      <%= link_to "Hapus", admins_dashboard_path(@user), class:"btn bg-blue waves-effect m-b-15", data:{confirm:"Kamu Yakin ingin menghapusnya"}, method: :delete %>
                    <% end %>

                    <% if @user.passport_image.path %>
                      <%= link_to "Unduh Passport", @user.passport_image.url, class: "btn bg-blue waves-effect m-b-15", download: "Passport-#{@user.id_reg}" %>
                    <% else %>
                      <%= link_to "Unduh Passport", '', class: "disabled btn bg-blue waves-effect m-b-15", download: "Passport-#{@user.id_reg}" %>
                    <% end %>
                  
                    <% if @user.avatar.path %>
                      <%= link_to "Unduh Foto", @user.avatar.url, class: "btn bg-blue waves-effect m-b-15", download: "Foto-#{@user.id_reg}" %>
                    <% else %>
                      <%= link_to "Unduh Foto", "", class: "disabled btn bg-blue waves-effect m-b-15", download: "Foto-#{@user.id_reg}" %>
                    <% end %>
                    
                    
                    <% if @user.confirmation%>
                      <%= link_to "Unduh Naskah", @user.confirmation.script.url, class: "btn bg-blue waves-effect", download: "Naskah-#{@user.id_reg}" %>
                    <% else %>
                      <%= link_to "Unduh Naskah", "", class: "disabled btn bg-blue waves-effect", download: "Naskah-#{@user.id_reg}" %>
                    <% end %>
                  </div>
                </div>

            
            </div>

        </div>

      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="card">
              <div class="header">
                  <h2>
                      Pilih Lomba
                  </h2>
              </div>
              <div class="body <%= 'lock' unless @admin.can_assesment? %>">
                <%= form_for(@score) do |f| %>
                  <div class="form-group">
                      <%= f.radio_button :kind, "pidato", required:true, id:"pidato", class: "with-gap" %>
                        <%= label :pidato, "Pidato", for:"pidato" %>
                      <%= f.radio_button :kind, "bercerita", id:"bercerita", required:true  , class: "with-gap" %>
                        <%= label :bercerita, "Bercerita", for:"bercerita" %>
                  </div>
                  <%= f.submit "Simpan", class:"btn bg-blue waves-effect" %>
                <% end %>
              </div>
          </div>
          
          <%# if @score.kind %>
            <%= form_for @score, html:{id: "scoring"} do |f| %>
              <%= f.hidden_field :scoring, value:true %>
              <% if @user.score.pidato? %>
                <div class="card">
                  <div class="header">
                      <h2>
                          Penilaian Pidato
                      </h2>
                  </div>

                  <div class="body <%= 'lock' unless @admin.can_assesment? %>">
                  
                    <%= f.hidden_field :kind, value:"pidato" %>
                    <h2 class="card-inside-title">Ketepatan Tata Bahasa <span class="col-pink">(max 15)</span></h2>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <%= f.number_field :bahasa, class:"form-control", min:"0", max:"15", required:true  %>
                        </div>
                    </div>
                    <h2 class="card-inside-title">Jeda <span class="col-pink">(max 10)</span></h2>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <%= f.number_field :interlude, class:"form-control", min:"0", max:"10", required:true  %>
                        </div>
                    </div>
                    <%= render partial: "shared/form_score", locals: { f:f } %>
                    <%= f.submit "Simpan", class:"btn bg-blue waves-effect" %>
                  </div>
                </div>
              <% elsif @user.score.bercerita? %>
                <div class="card">
                  <div class="header">
                      <h2>
                          Penilaian Bercerita
                      </h2>
                  </div>
                  <div class="body">
                    <%= f.hidden_field :kind, value:"bercerita" %>

                    <h2 class="card-inside-title">Media/Alat Bantu <span class="col-pink">(max 10)</span></h2>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <%= f.number_field :media, class:"form-control", min:"0", max:"10", required:true  %>
                        </div>
                    </div>
                    <h2 class="card-inside-title">Penampilan <span class="col-pink">(max 15)</span></h2>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <%= f.number_field :showing, class:"form-control", min:"0", max:"15", required:true  %>
                        </div>
                    </div>
                    
                    <%= render partial: "shared/form_score", locals: { f:f } %>

                    <%= f.submit "Simpan", class:"btn bg-blue waves-effect" %>
                  </div>
                </div>
              <% end %>
            <% end %><!-- FORM -->
          <%# end %>
      </div>
  </div>
<% if @user.win && @user.confirmation %>
<div class="row clearfix">
  <div class="col-md-4">
    <div class="card">
        <div class="header">
            <h2>
                Konfirmasi Kehadiran
            </h2>
        </div>
        <div class="body">
            <div class="table-responsive">
              <table class="table table-hover table-striped dashboard-task-infos">
                <tbody>
                  <tr>
                    <td>Nomor Paspor</td>
                    <td><%= @user.passport %></td>
                  </tr>
                  <tr>
                    <td>Status Formulir Konfirmasi</td>
                    <td><%= @user.confirmation.lock ? "Dikunci" : "Tidak Dikunci"  %></td>
                  </tr>
                  <tr>
                    <td>Tanggal Kadaluarsa Paspor</td>
                    <td><%= @user.passport_expire ? I18n.l(@user.passport_expire, format: :long) : "" %></td>
                  </tr>
                  <tr>
                    <td>Nomor Penerbangan Kedatangan</td>
                    <td><%= @user.confirmation.flight_arrival_number %></td>
                  </tr>
                  <tr>
                    <td>Tanggal penerbangan kedatangan</td>
                    <td><%= @user.confirmation.flight_arrival_date ? I18n.l(@user.confirmation.flight_arrival_date, format: :long) : "" %></td>
                  </tr>
                  <tr>
                    <td>Jam penerbangan kedatangan</td>
                    <td><%= @user.confirmation.flight_arrival_hours %></td>
                  </tr>
                  <tr>
                    <td>Nomor penerbangan kepulangan</td>
                    <td><%= @user.confirmation.flight_return_number %></td>
                  </tr>
                  <tr>
                    <td>Tanggal penerbangan kepulangan</td>
                    <td><%= @user.confirmation.date_of_return_flight ? I18n.l(@user.confirmation.date_of_return_flight, format: :long) : "" %></td>
                  </tr>
                  <tr>
                    <td>Jam penerbangan kepulangan</td>
                    <td><%= @user.confirmation.return_flight_hours %></td>
                  </tr>
                  <tr>
                    <td>Memakai Jilbab</td>
                    <td><%= @user.confirmation.hijab ? "Ya" : "Tidak" %></td>
                  </tr>
                  <tr>
                    <td>Ukuran Baju</td>
                    <td><%= @user.confirmation.dress_size.titleize %></td>
                  </tr>
                  <tr>
                    <td>Tiket Kedatangan Pesawat</td>
                    <td>
                      <% if @user.confirmation.arrival_ticket.path %>
                        <% if @user.confirmation.arrival_ticket_image? %>
                          <a data-fancybox="gallery" href="<%= @user.confirmation.arrival_ticket.url %>" data-caption="Tiket Kedatangan Pesawat"><img src="<%= @user.confirmation.arrival_ticket.url %>" class="img-responsive col-sm-6 "></a>
                        <% else %>
                          <%= link_to "#{@user.confirmation.arrival_ticket.original_filename}", @user.confirmation.arrival_ticket.url, class: "", download: "#{@user.confirmation.arrival_ticket.original_filename}" %>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>Tiket Kepulangan Pesawat</td>
                    <td>
                      <% if @user.confirmation.return_ticket_image? %>
                        <a data-fancybox="gallery" href="<%= @user.confirmation.return_ticket.url %>" data-caption="Tiket Kepulangan Pesawat"><img src="<%= @user.confirmation.return_ticket.url %>" class="img-responsive col-sm-6 "></a>
                      <% else %>
                        <%= link_to "#{@user.confirmation.return_ticket.original_filename}", @user.confirmation.return_ticket.url, class: "", download: "#{@user.confirmation.return_ticket.original_filename}" %>
                      <% end %>
                    </td>
                  </tr>
               </tbody>
             </table>
             <% if @admin.role.eql?"admin" %>
               <div class="action-user-users">
               <% text = @user.confirmation.lock ? "Buka Kunci" : "Kunci" %>
               <%= link_to text, update_confirmation_lock_admins_dashboard_path(@user), class:"btn bg-blue waves-effect m-b-15" %>  
               </div>
            <% end %>
            </div>
          </div>
        </div>
    </div>
</div>
<% end %>