<div class="login-box">
    <div class="logo">
        <a href="javascript:void(0);"><b>LPBBIPA <%= Time.now.year%></b></a>
        <small>Selamat Datang di Aplikasi LPBBIPA</small>
    </div>
    <div class="card">
        <div class="body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{ id:"sign_in"}) do |f| %>
            <%= devise_error_messages! %>
            <div class="msg"><%= type == "user" ? "Silakan login terlebih dahulu" : "Login sebagai Admin" %></div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">person</i>
                </span>
                <div class="form-line">
                <% if type.eql? "user" %>
                    <%= f.email_field :email, placeholder:"Posel", class: "form-control", required:true, autofocus: true %>
                <% else %>
                    <%= f.text_field :username, placeholder:"Username", class: "form-control", required:true, autofocus: true %>
                <% end %>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock</i>
                </span>
                <div class="form-line">
                    <%= f.password_field :password, class: "form-control", placeholder: "Kata sandi", required:true, autocomplete: "off" %>
                </div>
            </div>
              <% if devise_mapping.rememberable? -%>
                <div class="row">
                    <div class="col-xs-8 p-t-5">
                        <%= f.check_box :remember_me, id: "rememberme", class: "filled-in chk-col-pink"%>
                        <label for="rememberme">Ingat saya</label>
                    </div>
                    <div class="col-xs-4">
                        <%= f.submit "Masuk", class: "btn btn-block bg-pink waves-effect" %>
                    </div>
                </div>
              <% end -%>

          <% end %>
            <% if type.eql? "user" %>
              <%= render "users/shared/links" %>
            <% end %>
        </div>
    </div>
</div>
