<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
  <div class="thumbnail">
  <!-- data-fancybox="gallery" href="<%#= @user.avatar.url if @user.avatar.path  %>" data-caption="Profile" -->
    <a> <img src="<%= @user.avatar.path ? asset_path(@user.avatar.url) : asset_path('dummyuser')%>" alt="" class="img-responsive"></a>
  </div>
  <div class="card">
    <div class="header">
      <h2>Profil</h2>
    </div>
    <div class="body">
      <div class="table-responsive">
        <table class="table table-hover table-striped dashboard-task-infos">
          <tr>
            <td>Status</td>
            <td><%= @user.registration_status %></td>
          </tr>
          <tr>
            <td>Nama</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td>No registrasi</td>
            <td><%= @user.id_reg %></td>
          </tr>
          <tr>
            <td>Pos-el/<i>Email</i></td>
            <td><%= @user.email %></td>
          </tr>
        </table>
      </div>
      <%= form_for(@user, url: update_password_path ) do |f| %>
        <button class="btn btn-primary waves-effect" type="button" data-toggle="collapse" data-target="#form-password" aria-expanded="true" aria-controls="form-password">Edit kata sandi</button>
        <div class="collapse" id="form-password" aria-expanded="true">
            <div class="form-group form-float m-t-30">
                <div class="form-line">
                <%= f.password_field :password, class:"form-control", required:true %>
                    <!-- <input type="password" class="form-control" name="password" required> -->
                    <label class="form-label">Kata sandi</label>
                </div>
            </div>
            <div class="form-group form-float">
                <div class="form-line">
                    <%= f.password_field :password_confirmation, class:"form-control", required:true %>
                    <!-- <input type="password" class="form-control" name="password" required> -->
                    <label class="form-label">Konfirmasi kata sandi</label>
                </div>
            </div>
            <%= f.submit "Simpan", class:"btn btn-primary waves-effect" %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render partial:"shared/schedule", locals:{schedule: @schedule} %>
</div>