<div class="row clearfix">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>
            TAMBAH NEGARA
        </h2>
      </div>
      <div class="body">
      <%= form_for(@country) do |f| %>
        <div class="form-group form-float">
          <div class="form-line">
            <%= f.text_field :name, class:"form-control", required:true %>
            <label for="" class="form-label">Nama Negara</label>
          </div>
        </div>
        <div class="form-group form-float">
          <div class="form-line">
            <%= f.text_field :iso_code, class:"form-control", required:true %>
            <label for="" class="form-label">Kode ISO</label>
          </div>
        </div>
        <div class="form-group form-float">
          <div class="form-line">
            <%= f.text_field :country_code, class:"form-control", required:true %>
            <label for="" class="form-label">Kode Negara</label>
          </div>
        </div>
        <h2  class="card-inside-title">Mengikuto Lomba
        </h2>
        <div class="form-group form-float">
          <div class="form-line">
            <%= f.radio_button :attend_contest, true, id:"yes", class: "with-gap" %>
            <%= label :attend_contest, "Ya", for:"yes" %>
            <%= f.radio_button :attend_contest, false, id:"no", class: "with-gap" %>
            <%= label :attend_contest, "Tidak", for:"no" %>
          </div>
        </div>
        <%= f.submit "Simpan", class:"btn btn-primary waves-effect" %>
      <% end %>
      </div>
    </div>
  </div>
</div>