<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>
            LIST NEGARA 
        </h2>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover  js-data-table-export">
            <thead>
              <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Kode ISO</th>
                <th>Kode Negara</th>
                <th>Mengikuti Lomba</th>
                <th>Aksi</th>
              </tr>
            </thead>

            <tbody>
            <% @countries.each_with_index do |country, index| %>
              <tr >
                <td><%= index+1 %></td>
                <td><%= country.name %></td>
                <td><%= country.iso_code %></td>
                <td><%= country.country_code %></td>
                <td><%= yes_no(country.attend_contest) %></td>
              
                <td>
                  <%= link_to 'Edit', edit_country_path(country), class:"btn bg-blue waves-effect"  %>
                  <%= link_to 'Hapus', country, method: :delete, class:"btn bg-blue waves-effect", data: { confirm: "Anda yakin ingin menghapus negara #{ country.name }" } %>
                </td>
              </tr>
            <% end %>
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ROW -->

<%= render 'form' %>