    <div class="row clearfix">
      <%= render "shared/user_sidebar"%>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>Form Konfirmasi Kehadiran</h2>
            </div>
            <div class="body <%= 'lock' if @confirmation.lock %>">
            <%= form_for(@confirmation, url: path, html: { multipart: true } ) do |f| %>
                <%= f.hidden_field :user_id, value:@user.id %>
              <%= f.fields_for :user do |ff| %>
                  <% val = @confirmation.user ? @confirmation.user.passport : nil %>
                  <h2  class="card-inside-title">Nomor paspor
                    <%= required(nil) %>
                  </h2>
                  <div class="form-group form-float">
                    <div class="form-line">
                      <%= ff.text_field :passport, value:val , class:"form-control", placeholder:"No Passport", required:true %>
                    </div>
                  </div>
                  <% val = @confirmation.user && @confirmation.user.passport_expire ? I18n.l(@confirmation.user.passport_expire, format: :long) : nil  %>
                  <h2 class="card-inside-title">Tanggal kadaluarsa passport<%= required(nil) %></h2>
                  <div class="form-group form-float">
                    <div class="form-line">
                      <%= ff.text_field :passport_expire, value:val, class:"form-control datepicker", placeholder:"Kadaluarsa Passport", required:true %>
                    </div>
                  </div>
                <% end %>

                <h2 class="card-inside-title">Nomor Penerbangan Kedatangan<%= required(nil) %></h2>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.text_field :flight_arrival_number, class:"form-control", required:true, placeholder:"Nomor Penerbangan Kedatangan"  %>
                    </div>
                </div>
                <% val = I18n.l(@confirmation.flight_arrival_date, format: :long) if @confirmation.flight_arrival_date  %>
                <h2 class="card-inside-title">Tanggal penerbangan kedatangan<%= required(nil) %></h2>
                <div class="form-group form-float">
                    <div class="form-line">
                      <%= f.text_field :flight_arrival_date, value:val, class:"datepicker form-control", required:true, placeholder:"Tanggal penerbangan kedatangan"  %>
                    </div>
                </div>
                <h2 class="card-inside-title">Jam penerbangan kedatangan<%= required(nil) %></h2>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.text_field :flight_arrival_hours, class:"timepicker form-control", required:true, placeholder:"Jam penerbangan kedatangan"  %>
                    </div>
                </div>
                <h2 class="card-inside-title">Nomor penerbangan kepulangan<%= required(nil) %></h2>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.text_field :flight_return_number, class:"form-control", required:true, placeholder:"Nomor penerbangan kepulangan"  %>
                    </div>
                </div>
                <h2 class="card-inside-title">Tanggal penerbangan kepulangan<%= required(nil) %></h2>
                <div class="form-group form-float">
                    <div class="form-line">
                      <% val = I18n.l(@confirmation.date_of_return_flight, format: :long) if @confirmation.date_of_return_flight  %>
                      <%= f.text_field :date_of_return_flight, value:val, class:"datepicker form-control", required:true, placeholder:"Tanggal penerbangan kepulangan"  %>
                    </div>
                </div>
                        <h2 class="card-inside-title">Jam penerbangan kepulangan<%= required(nil) %></h2>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.text_field :return_flight_hours, class:"timepicker form-control", required:true, placeholder:"Jam penerbangan kepulangan"  %>
                    </div>
                </div>
                <h2 class="card-inside-title">Memakai Jilbab<%= required(nil) %></h2>
                <div class="form-group">
                    <%= f.radio_button :hijab, "true", id:"yes", class:"with-gap", required:true%>
                    <label for="yes">Ya</label>

                    <%= f.radio_button :hijab, "false", id:"no", class:"with-gap", required:true%>
                    <label for="no" class="m-l-20">Tidak</label>
                </div>
                <h2 class="card-inside-title">Ukuran Baju<%= required(nil) %></h2>
                <div class="form-group form-float">
                    <div class="form-line">
                    <%= f.select(:dress_size, [ ["XS - Width 41 cm, Length 63 cm", "xs"],["S - Width 44 cm, Length 65 cm","s"],["M - Width 47 cm, Length 67 cm","m"],["L - Width 50 cm, Length 69 cm","l"],["XL - Width 53 cm, Length 71 cm","xl"], ["XXL - Width 56 cm, Length 73 cm","xxl" ], ["3XL - Width 60 cm, Length 75 cm","xxxl"], ["4XL - Width 63 cm, Length 77 cm","xxxxl"] ],
                                              {}, class:"form-control form-control--z-6 show-tick", required:true, "data-title": "Pilih Ukuran") %>
                    </div>
                </div>
                
                <% if @confirmation.script.path %>
                  <h2 class="card-inside-title">Ganti Naskah Pidato/Cerita <span class="col-pink">(Max 1MB, Format: JPG, PNG, PDF)</span></h2>
                  <% if @confirmation.script_image? %>
                    <a data-fancybox="gallery" href="<%= @confirmation.script.url %>" data-caption="Naskah Pidato/Cerita"><img src="<%= @confirmation.script.url %>" class="img-responsive col-sm-6 "></a>
                  <% else %>
                    <%= link_to "#{@confirmation.script.original_filename}", @confirmation.script.url, class: "", download: "#{@confirmation.script.original_filename}" %>
                  <% end %>
                  <%= f.file_field :script, placeholder:"Ganti Naskah", class:"form-control"%>
                <% else %>
                  <h2 class="card-inside-title">Unggah Naskah Pidato/Cerita <span class="col-pink">(Max 1MB, Format: JPG, PNG, PDF)</span><%= required(nil) %></h2>
                  <div class="form-group form-float">
                      <div class="form-line">
                          <%= f.file_field :script, placeholder:"Unggah Naskah", class:"form-control", required:true%>
                      </div>
                  </div>
                <% end %>
                
                <%= f.fields_for :user do |ff| %>
                  <% if @user.passport_image.path %>
                    <h2 class="card-inside-title">Ganti paspor <%= required(nil) %>
                    <span class="col-pink">(Maksimum 1MB, Format: JPG, PNG, PDF)</span></h2>
                    <% if @user.is_image? %>
                      <a data-fancybox="gallery" href="<%= @user.passport_image.url %>" data-caption="Passport"><img src="<%= @user.passport_image.url %>" class="img-responsive col-sm-6 "></a>
                    <% else %>
                      <%= link_to "#{@user.passport_image.original_filename}", @user.passport_image.url, class: "", download: "#{@user.passport_image.original_filename}" %>
                    <% end %>
                    <div class="form-group form-float">
                      <div class="form-line">
                        <%= ff.file_field :passport_image, placeholder:"Unggah paspor", class:"form-control" %>
                      </div>
                    </div>
                  <% else %>
                    <h2 class="card-inside-title">Unggah paspor <%= required(nil) %>
                    <span class="col-pink">(Maksimum 1MB Format: JPG, PNG, PDF)</span></h2>
                    <div class="form-group form-float">
                      <div class="form-line">
                        <%= ff.file_field :passport_image, placeholder:"Unggah paspor", class:"form-control" %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                
                <% if @confirmation.arrival_ticket.path %>
                  <h2 class="card-inside-title">Ganti Tiket Kedatangan Pesawat <span class="col-pink">(Max 1MB, Format: JPG, PNG, PDF)</span></h2>
                  <% if @confirmation.arrival_ticket_image? %>
                    <a data-fancybox="gallery" href="<%= @confirmation.arrival_ticket.url %>" data-caption="Tiket Kedatangan Pesawat"><img src="<%= @confirmation.arrival_ticket.url %>" class="img-responsive col-sm-6 "></a>
                  <% else %>
                    <%= link_to "#{@confirmation.arrival_ticket.original_filename}", @confirmation.arrival_ticket.url, class: "", download: "#{@confirmation.arrival_ticket.original_filename}" %>
                  <% end %>
                  <%= f.file_field :arrival_ticket, placeholder:"Ganti Tiket Kedatangan Pesawat", class:"form-control"%>
                <% else %>
                  <h2 class="card-inside-title">Unggah Tiket Kedatangan Pesawat <span class="col-pink">(Max 1MB, Format: JPG, PNG, PDF)</span><%= required(nil) %> </h2>
                  <div class="form-group form-float">
                      <div class="form-line">
                          <%= f.file_field :arrival_ticket, placeholder:"Unggah Tiket Pesawat Kedatangan", class:"form-control", required:true%>
                      </div>
                  </div>
                <% end %>

                <% if @confirmation.return_ticket.path %>
                  <h2 class="card-inside-title">Ganti Tiket Kepulangan Pesawat <span class="col-pink">(Max 1MB, Format: JPG, PNG, PDF)</span></h2>
                  <% if @confirmation.return_ticket_image? %>
                    <a data-fancybox="gallery" href="<%= @confirmation.return_ticket.url %>" data-caption="Tiket Kepulangan Pesawat"><img src="<%= @confirmation.return_ticket.url %>" class="img-responsive col-sm-6 "></a>
                  <% else %>
                    <%= link_to "#{@confirmation.return_ticket.original_filename}", @confirmation.return_ticket.url, class: "", download: "#{@confirmation.return_ticket.original_filename}" %>
                  <% end %>
                  <%= f.file_field :return_ticket, placeholder:"Ganti Tiket Kepulangan Pesawat", class:"form-control"%>
                  <% else %>
                <h2 class="card-inside-title">Unggah Tiket Kepulangan Pesawat <span class="col-pink">(Max 1MB, Format: JPG, PNG, PDF)</span><%= required(nil) %></h2>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.file_field :return_ticket, placeholder:"Unggah Kepulangan Tiket Pesawat", class:"form-control", required:true%>
                    </div>
                </div>
                <% end %>
                              
                <div class="clearfix m-t-20">
                  <%= f.submit "SIMPAN", formnovalidate:true, class: "btn btn-lg btn-success waves-effect", data:{toggle:"tooltip", placement:"top", "original-title":"Hanya Simpan"}%>

                  <%= f.submit "KIRIM", class:"btn btn-lg btn-primary waves-effect", data:{toggle:"tooltip", placement:"top",
                      "original-title":"Simpan dan Kirim"}%>
                      <p><br/><b>Simpan:</b> Klik tombol SIMPAN untuk menyimpan data dan formulir masih bisa diubah, Anda harus klik tombol kirim untuk menyelesaikan konfirmasi kehadiran. <br/><b>Kirim:</b> Jika sudah klik KIRIM tidak bisa diubah lagi.</p>

                </div>
            <% end %>
              
            </div>
          </div>
        </div>
    </div>