html {
    // overflow-y: hidden
}
body:not(.ls-closed) .content.content-full{
  margin-left: 0;
  margin-top: 0;
}

.card.card-user .body{
  min-height: 300px;
}
.navbar-nav > li> a:hover{
  text-decoration: underline;
}

.bold{
  font-weight: bold;
}

.signup-page{
	max-width: 440px;
	position: relative;
}
.form-control{
	&--z-4{
		z-index: 4 !important;
	}
	&--z-5{
		z-index: 5 !important;
	}
	&--z-6{
		z-index: 6 !important;
	}
}

.login-page{
	.container-flash{
		width: 100%;
	}
}

.container-flash{
	// margin: 50px 0;
	margin:0 0 40px 0;
}

.lock{
	div, input, a:not([data-fancybox=gallery]){
		pointer-events:none;
		opacity: 0.8;
	}
}

[data-fancybox=gallery]{
	position: relative;
	z-index: 5;
	// cursor: zoom-in;
	// cursor: 
}
ul{
	padding-left: 15px;
}
.profile{
	border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: top center !important;
  text-align: center;
  background: #2196f3;
  span{
  	font-size: 25px;
  	font-weight: 900;
  	line-height: 40px;
  	color:#fff;
  }
  &-user{
	  background: rgba(255,255,255,0.7);
	  float: left;
	  margin-right: 8px;
  }
}
section.content{
}
.container-user{
	margin-top: 120px;
}
// .modal-view{
// 	width: 100%;
// 	max-width: 700px;
// 	@media(max-width: 767px){	
// 		max-width: 60%;
// 	}
// 	@media(max-width: 500px){
// 		max-width: 90%;
// 	}
// 	img{
// 		position: absolute;
// 		left: 0;
// 		right: 0;
// 		margin: auto;
// 	}
// }
.bootstrap-select .bs-searchbox .form-control, .bootstrap-select .bs-actionsbox .form-control, .bootstrap-select .bs-donebutton .form-control{
	margin-left: 40px;
}
.bootstrap-select > select{
	display: none !important;
}
.action-user-users{
	// form{
	// 	float: left;
	// }
	.btn{
		margin-right: 2%;
		width: 48%;
		float: left;
		margin-bottom: 2%;
		&.revoke{
			width: 98%;
		}
	}
}
.container-landing-page{
	text-align: center;
	padding: 25px;
	color: #333;
	.sub{
		color: #fff;
		font-size: 20px;
		font-weight: 700;
		margin-top: 15px;
		p{
			margin: 10px 0 0 0;
		&:last-child{
			font-size: 15px;
		}
		}
	}
	h1{
		margin-bottom: 30px;
		line-height: 6rem;
	}
}
.four-zero-four-container{
		max-width: 800px;
    box-shadow: 0 0px 50px 0px #000000;
    border-radius: 7px;
}
.filters{
	@media(min-width: 768px){
		label{
			width: 100%
		}
	}
	.col-sm-10{
		margin: 0 !important;
	}
}
.four-zero-four, .bg-four-zero-four{
	background: #000;
}
.backstretch{
	opacity: 0.5;
}
// input:invalid { 
//     border: 2px solid red;
// }
#previewOverlay{
	overflow-x: hidden;
	overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: initial;
  height: initial;
  padding: 25px;
  #previewBox{
		position: relative;
		margin: 25px auto 50px auto;
		left: 0;
		width: initial;
		max-width: 500px;
  }
}
.no-overflow{
	overflow: hidden;
}
.fancybox-button.fancybox-button--share{
  display: none !important;
	
}
#previewBox .button{
	    padding: 0 35px 0 35px !important;
}
.m-0{
	margin: 0;
}