 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                SEMUA PESERTA
            </h2>
        </div>
        <div class="body">
            <% if @users.present? %>  
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-data-table-export">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nama</th>
                                <th>Jenis Lomba</th>
                                <th>Negara</th>
                                <th>KBRI/KJRI</th>
                                <th>Status Kiriman</th>
                                <th>Kelulusan</th>
                                <th>Tahun</th>
                                
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Nama</th>
                                <th>Jenis Lomba</th>
                                <th>Negara</th>
                                <th>KBRI/KJRI</th>
                                <th>Status Kiriman</th>
                                <th>Kelulusan</th>
                                <th>Tahun</th>
                                
                                <th>Aksi</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <% @users.each_with_index do |user, index| %>
                                <tr>
                                    <td><%= index+1 %></td>
                                    <td><%= user.name %></td>
                                    <td><%= show(user.score.kind) %></td>
                                    <td><%= show(user.country.name) %></td>
                                    <td><%= show(user.consulate.name) %></td>
                                    <td><%= show( user.complete.present? ? "Dikirim" : "Belum Dikirim" ) %></td>
                                    <td><%= show(user.win,"Menang","Tidak Menang") %></td>
                                    <td><%= user.year %></td>
                                    <td>
                                        <a href="<%= admins_dashboard_path(user.id) %>" class="btn bg-blue waves-effect" target="blank">Tampilkan</a>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            <% else %>
            <h4 class="text-center">Tidak ada hasil</h4>
            <% end %>
        </div>
    </div>
</div>



<td class="hid"><%= user.to_indonesias.map{|d| [d.destination, d.long, d.unit]}.flatten.to_sentence(last_word_connector:",") if user.to_indonesias
                                     %></td>
                                    <td class="hid"><%= user.bipa_courses.map{|d| [d.location, d.long, d.unit]}.flatten.to_sentence(last_word_connector:",") if user.bipa_courses %></td>
                                    <td class="hid"><%= user.skype_id %></td>
                                    <td><%= show(user.score.kind) %></td>





                                        <% if score.kind.eql?"bercerita"  %>
                                            <table class="hid">
                                               <tr class="hid" width="100">
                                                    <td class="hid">Isi</td>
                                                    <td class="hid"><%= score.content %></td>
                                               </tr>
                                               <tr class="hid" width="100">
                                                    <td class="hid">Alur</td>
                                                    <td class="hid"><%= score.plot %></td>
                                               </tr>
                                               <tr class="hid" width="100">
                                                    <td class="hid">Kelancaran</td>
                                                    <td class="hid"><%= score.fluency %></td>
                                               </tr>
                                               <tr class="hid" width="100">
                                                    <td class="hid">Gestur</td>
                                                    <td class="hid"><%= score.gesture %></td>
                                               </tr>
                                               <tr class="hid" width="100">
                                                    <td class="hid">Suara</td>
                                                    <td class="hid"><%= score.sound %></td>
                                               </tr>
                                               <tr class="hid" width="100">
                                                    <td class="hid">Durasi</td>
                                                    <td class="hid"><%= score.duration %></td>
                                               </tr>
                                               <tr class="hid" width="100">
                                                    <td class="hid">Penampilan</td>
                                                    <td class="hid"><%= score.showing %></td>
                                               </tr>
                                               <tr class="hid" width="100">
                                                    <td class="hid">Media</td>
                                                    <td class="hid"><%= score.media %></td>
                                               </tr>
                                               <tr class="hid" width="100">
                                                    <td class="hid">Catatan</td>
                                                    <td class="hid"><%= score.note %></td>
                                               </tr>
                                            </table>
                                        <% else %>

                                        <% end %>
                                    <% end %>