 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                SEMUA PESERTA
            </h2>
        </div>
        <div class="body">
            <% if @users.present? %>  
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-data-table-export">
                        <thead>
                            <tr>
                                <th rowspan="2">No</th>
                                <th rowspan="2" class="hide" >No Registrasi</th>
                                <th rowspan="2" class="hide" >No Paspor</th>
                                <th rowspan="2" class="hide" >Masa Aktif Paspor</th>
                                <th rowspan="2">Nama</th>
                                <th rowspan="2" class="hide">Usia</th>
                                <th rowspan="2" class="hide">Pos-el/<i>Email</i></th>
                                <th rowspan="2" class="hide">Nomor Ponsel</th>
                                <th rowspan="2">Negara</th>
                                <th rowspan="2">KBRI/KJRI</th>
                                <th rowspan="2" class="hide">Kunjungan Ke Indonesia</th>
                                <th rowspan="2" class="hide">Kursus BIPA</th>
                                <th rowspan="2" class="hide">ID Skype</th>
                                <th rowspan="2">Jenis Lomba</th>
                                <th colspan="8" rowspan="1" class="hide">Skor Pidato</th>
                                <th colspan="8" rowspan="1" class="hide">Skor Bercerita</th>
                                <th rowspan="2" class="hide">Total Skor</th>
                                <th rowspan="2" class="hide">Catatan</th>
                                <th rowspan="2" class="hide">Pemberi Nilai</th>
                                <th rowspan="2" class="not-export-col">Status Kiriman</th>
                                <th rowspan="2" class="not-export-col">Kelulusan</th>
                                <th rowspan="2" class="not-export-col">Tahun</th>
                                <th rowspan="2" >Kata Sandi</th>
                                
                                <th rowspan="2" class="not-export-col">Aksi</th>
                            </tr>
                            <tr>
                              <th class="hide">Ketepatan Tata Bahasa</th>
                              <th class="hide">Jeda</th>
                              <th class="hide">Struktur/Alur</th>
                              <th class="hide">Isi</th>
                              <th class="hide">Kelancaran</th>
                              <th class="hide">Gestur/Mimik</th>
                              <th class="hide">Volume Suara</th>
                              <th class="hide">Waktu/Durasi</th>

                              <th class="hide">Media</th>
                              <th class="hide">Penampilan</th>
                              <th class="hide">Struktur/Alur</th>
                              <th class="hide">Isi</th>
                              <th class="hide">Kelancaran</th>
                              <th class="hide">Gestur/Mimik</th>
                              <th class="hide">Volume/Suara</th>
                              <th class="hide">Waktu/Durasi</th>


                              <th class="hide">Nomor Paspor</th>
                              <th class="hide">Status Formulir Konfirmasi</th>
                              <th class="hide">Tanggal Kadaluarsa Paspor</th>
                              <th class="hide">Nomor Penerbangan Kedatangan</th>
                              <th class="hide">Tanggal penerbangan kedatangan</th>
                              <th class="hide">Jam penerbangan kedatangan</th>
                              <th class="hide">Nomor penerbangan kepulangan</th>
                              <th class="hide">Tanggal penerbangan kepulangan</th>
                              <th class="hide">Jam penerbangan kepulangan</th>
                              <th class="hide">Memakai Jilbab</th>
                              <th class="hide">Ukuran Baju</th>


                            </tr>
                        </thead>
                        <tfoot>
                           <tr>
                               <th rowspan="2">No</th>
                               <th rowspan="2" class="hide" >No Registrasi</th>
                               <th rowspan="2" class="hide" >No Paspor</th>
                               <th rowspan="2" class="hide" >Masa Aktif Paspor</th>
                               <th rowspan="2">Nama</th>
                               <th rowspan="2" class="hide">Usia</th>
                               <th rowspan="2" class="hide">Pos-el/<i>Email</i></th>
                               <th rowspan="2" class="hide">Nomor Ponsel</th>
                               <th rowspan="2">Negara</th>
                               <th rowspan="2">KBRI/KJRI</th>
                               <th rowspan="2" class="hide">Kunjungan Ke Indonesia</th>
                               <th rowspan="2" class="hide">Kursus BIPA</th>
                               <th rowspan="2" class="hide">ID Skype</th>
                               <th rowspan="2">Jenis Lomba</th>
                               <th colspan="8" rowspan="1" class="hide">Skor Pidato</th>
                               <th colspan="8" rowspan="1" class="hide">Skor Bercerita</th>
                               <th rowspan="2" class="hide">Total Skor</th>
                               <th rowspan="2" class="hide"  >Catatan</th>
                               <th rowspan="2" class="not-export-col">Status Kiriman</th>
                               <th rowspan="2" class="not-export-col">Kelulusan</th>
                               <th rowspan="2" class="not-export-col">Tahun</th>
                               <th rowspan="2" >Kata Sandi</th>
                               
                               <th rowspan="2" class="not-export-col">Aksi</th>
                           </tr>
                           <tr>
                             <th class="hide">Ketepatan Tata Bahasa</th>
                             <th class="hide">Jeda</th>
                             <th class="hide">Struktur/Alur</th>
                             <th class="hide">Isi</th>
                             <th class="hide">Kelancaran</th>
                             <th class="hide">Gestur/Mimik</th>
                             <th class="hide">Volume Suara</th>
                             <th class="hide">Waktu/Durasi</th>

                             <th class="hide">Media</th>
                             <th class="hide">Penampilan</th>
                             <th class="hide">Struktur/Alur</th>
                             <th class="hide">Isi</th>
                             <th class="hide">Kelancaran</th>
                             <th class="hide">Gestur/Mimik</th>
                             <th class="hide">Volume/Suara</th>
                             <th class="hide">Waktu/Durasi</th>


                             <th class="hide">Nomor Paspor</th>
                             <th class="hide">Status Formulir Konfirmasi</th>
                             <th class="hide">Tanggal Kadaluarsa Paspor</th>
                             <th class="hide">Nomor Penerbangan Kedatangan</th>
                             <th class="hide">Tanggal penerbangan kedatangan</th>
                             <th class="hide">Jam penerbangan kedatangan</th>
                             <th class="hide">Nomor penerbangan kepulangan</th>
                             <th class="hide">Tanggal penerbangan kepulangan</th>
                             <th class="hide">Jam penerbangan kepulangan</th>
                             <th class="hide">Memakai Jilbab</th>
                             <th class="hide">Ukuran Baju</th>

                           </tr>
                        </tfoot>
                        <tbody>
                            <% @users.each_with_index do |user, index| %>
                                <tr>
                                    <td><%= index+1 %></td>
                                    <td class="hide"> <%= user.id_reg rescue nil %></td>
                                    <td class="hide"> <%= user.passport rescue nil %></td>
                                    <td class="hide"> <%= user.passport_expire ? I18n.l(user.passport_expire, format: :long) : "" %></td>
                                    <td><%= user.name rescue nil %></td>
                                    <td class="hide"> <%= user.counting_age rescue nil %></td>
                                    <td class="hide"> <%= user.email %></td>
                                    <td class="hide"> <%= user.phone %></td>
                                    <td><%= show(user.country.name) if user and user.country %></td>
                                    <td><%= show(user.consulate.name) if user and user.consulate %></td>
                                    <td class="hide"><%= user.to_indonesias.count if user.to_indonesias
                                     %></td>
                                    <td class="hide"><%= user.bipa_courses.count if user.bipa_courses %></td>
                                    <td class="hide"><%= user.skype_id %></td>
                                    <% kind = user.score ? user.score.kind : "" %>
                                    <td><%= show(kind) %></td>
                                    <% score = user.score %>
                                    <% if score  %>
                                        <% if score.kind == "pidato"  %>
                                            <td class="hide"><%= score.bahasa %></td>
                                            <td class="hide"><%= score.interlude %></td>
                                            <td class="hide"><%= score.plot %></td>
                                            <td class="hide"><%= score.content %></td>
                                            <td class="hide"><%= score.fluency %></td>
                                            <td class="hide"><%= score.gesture %></td>
                                            <td class="hide"><%= score.sound %></td>
                                            <td class="hide"><%= score.duration %></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                        <% else %>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"><%= score.media %></td>
                                            <td class="hide"><%= score.showing %></td>
                                            <td class="hide"><%= score.plot %></td>
                                            <td class="hide"><%= score.content %></td>
                                            <td class="hide"><%= score.fluency %></td>
                                            <td class="hide"><%= score.gesture %></td>
                                            <td class="hide"><%= score.sound %></td>
                                            <td class="hide"><%= score.duration %></td>
                                        <% end %>
                                        <td class="hide" ><%= score.counting %></td>
                                        <td class="hide" ><%= score.note %></td>
                                        <td class="hide" ><%= score.giver %></td>
                                    <% else %>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                    <% end %>

                                    
                                    <td><%= show( user.complete.present? ? "Dikirim" : "Belum Dikirim" ) %></td>
                                    <td><%= show(user.win) %></td>
                                    <td><%= user.year rescue nil %></td>
                                    <td><%= user.decrypt_password rescue nil %></td>
                                    <td>
                                        <a href="<%= admins_dashboard_path(user.id) %>" class="btn bg-blue waves-effect" target="blank">Tampilkan</a>
                                    </td>

                                    <% if user.confirmation %>    
                                      <td class="hide"> <%= user.passport %> </td>
                                      <td class="hide"> <%= user.confirmation.lock ? "Dikunci" : "Tidak Dikunci"  %> </td>
                                      <td class="hide"> <%= user.passport_expire ? I18n.l(user.passport_expire, format: :long) : "" %> </td>
                                      <td class="hide"> <%= user.confirmation.flight_arrival_number %> </td>
                                      <td class="hide"> <%= user.confirmation.flight_arrival_date ? I18n.l(user.confirmation.flight_arrival_date, format: :long) : "" %> </td>
                                      <td class="hide"> <%= user.confirmation.flight_arrival_hours %> </td>
                                      <td class="hide"> <%= user.confirmation.flight_return_number %> </td>
                                      <td class="hide"> <%= user.confirmation.date_of_return_flight ? I18n.l(user.confirmation.date_of_return_flight, format: :long) : "" %> </td>
                                      <td class="hide"> <%= user.confirmation.return_flight_hours %> </td>
                                      <td class="hide"> <%= user.confirmation.hijab ? "Ya" : "Tidak" %> </td>
                                      <td class="hide"> <%= user.confirmation.dress_size.titleize %> </td>
                                    <% else %>
                                      <td class="hide"></td>
                                      <td class="hide"></td>
                                      <td class="hide"></td>
                                      <td class="hide"></td>
                                      <td class="hide"></td>
                                      <td class="hide"></td>
                                      <td class="hide"></td>
                                      <td class="hide"></td>
                                      <td class="hide"></td>
                                      <td class="hide"></td>
                                      <td class="hide"></td>
                                    <% end %>
                                    
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            <% else %>
            <h4 class="text-center">Tidak ada hasil</h4>
            <% end %>
        </div>
    </div>
</div>