$("#count_pendaftar").text("<%= @user_count %>")
$("#count_peserta").text("<%= @user_complite_count %>")
$("#count_pemenang").text("<%= @user_win_count %>")
$("#all_users").html("<%= j render 'all_users' %> ")
// $.AdminBSB.select.activate();
$('#all_users .card').waitMe("hide");

$.action.tableDataTable.activate();