

            <!-- Widgets -->
            <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">person_outline</i>
                        </div>
                        <div class="content">
                            <div class="text">Pendaftar</div>
                            <div class="number count-to" id="count_pendaftar" data-from="0" data-to="<%= @user_count %>" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">person_add</i>
                        </div>
                        <div class="content">
                            <div class="text">Peserta</div>
                            <div class="number count-to" id="count_peserta" data-from="0" data-to="<%= @user_complite_count %>" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">check_circle</i>
                        </div>
                        <div class="content">
                            <div class="text">Pemenang</div>
                            <div class="number count-to" data-from="0" id="count_pemenang" data-to="<%= @user_win_count %>" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
            </div>           
    

            <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card filters">
                            <div class="header">
                                <h2>FILTER</h2>
                            </div>
                            <div class="body">
                            <a class="btn bg-blue waves-effect" role="button" data-toggle="collapse" href="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">Sembunyikan</a>
                                <div class="row collapse in" id="collapseFilter" aria-expanded="true">
                                <form action="<%= filters_path %>" data-remote="true" method="post" >                                
                                        <div class="col-sm-2 m-t-15">
                                            <h5>Tahun</h5>
                                            <input name="filters[year]" checked value="" type="radio" class="with-gap" id="radio_5">
                                            <label for="radio_5">Semua</label>
                                            <input name="filters[year]" value="2017" type="radio" class="with-gap" id="radio_6">
                                            <label for="radio_6">2017</label>
                                            <input name="filters[year]" value="2018" type="radio" class="with-gap" id="radio_7">
                                            <label for="radio_7">2018</label>
                                            <input name="filters[year]" value="2019" type="radio" class="with-gap" id="radio_8">
                                            <label for="radio_8">2019</label>

                                        </div>
                                        <div class="col-sm-2 m-t-15">
                                            <h5>Jenis Lomba</h5>
                                            <input name="filters[kind]" checked value="" type="radio" class="with-gap" id="radio_8">
                                            <label for="radio_8">Semua</label>
                                            <input name="filters[kind]" value="nil" type="radio" class="with-gap" id="radio_9">
                                            <label for="radio_9">Kosong</label>
                                            <input name="filters[kind]" value="pidato" type="radio" class="with-gap" id="radio_10">
                                            <label for="radio_10">Pidato</label>
                                            <input name="filters[kind]" value="bercerita" type="radio" class="with-gap" id="radio_11">
                                            <label for="radio_11">Bercerita</label>
                                        </div>
                                        <% if @admin.role.eql? "admin" %>
                                            <div class="col-sm-2 m-t-15">
                                                <h5>Negara</h5>
                                                <div class="form-group">
                                                    <div class="input-group form-float">
                                                        <div class="form-line">
                                                            <%= select("filters", 'country', Country.all.collect {|c| [ c.name, c.id ] }, {include_blank: 'Semua Negara'}, class:"form-control form-control--z-5 show-tick", "data-live-search":true) %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 m-t-15">
                                                <h5>KBRI/KJRI</h5>
                                                <%= select("filters", "consulate", @consulates, {include_blank: 'Semua KBRI'}, class:'form-control form-control--z-4 show-tick', "data-live-search":true) %>
                                            </div>
                                        <% end %>
                                        <div class="col-sm-2 m-t-15">
                                            <h5>Status Kiriman</h5>
                                            <input name="filters[complete]" checked value="" type="radio" class="with-gap" id="radio_12">
                                            <label for="radio_12">Semua</label>
                                            <input name="filters[complete]" value="true" type="radio" class="with-gap" id="radio_13">
                                            <label for="radio_13">Dikirim</label>
                                            <input name="filters[complete]" value="false" type="radio" class="with-gap" id="radio_14">
                                            <label for="radio_14">Belum Dikirim</label>
                                        </div>
                                        <div class="col-sm-2 m-t-15">
                                            <h5>Kelulusan</h5>
                                            <input name="filters[win]" checked value="" type="radio" class="with-gap" id="radio_18">
                                            <label for="radio_18">Semua</label>
                                            <input name="filters[win]"  value="nil" type="radio" class="with-gap" id="radio_15">
                                            <label for="radio_15">Kosong</label>
                                            <input name="filters[win]" value="true" type="radio" class="with-gap" id="radio_17">
                                            <label for="radio_17">Lulus</label>
                                            <input name="filters[win]" value="false" type="radio" class="with-gap" id="radio_16">
                                            <label for="radio_16">Tidak Lulus</label>
                                        </div>
                                    <!-- </div> -->
                                    <!-- <div class="col-sm-2 m-t-40"> -->
                                        <input type="submit" class="hidden btn btn-lg bg-blue waves-effect" value="Cari">
                                    <!-- </div> -->
                                </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="all_users">
                        <%= render "all_users" %>
                    </div>
                        <!-- #END# Exportable Table -->
            </div>
        </div>
    </section>