<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>Edit Profil</h2>
      </div>
      <div class="body">
        <%= form_for(@admin, url: update_profile_path ) do |f| %>
          <div class="form-group form-float">
              <div class="form-line">
                <%= f.text_field :username, class:"form-control", required:true %>
                  <label class="form-label">Username</label>
              </div>
          </div>
          <div class="form-group form-float">
              <div class="form-line">
                <%= f.text_field :name, class:"form-control", required:true %>
                  <label class="form-label">Nama</label>
              </div>
          </div>
          <div class="form-group form-float">
              <div class="form-line">
                <%= f.text_field :password, class:"form-control", required:true %>
                  <label class="form-label">Password</label>
              </div>
          </div>
          <div class="form-group form-float">
              <div class="form-line">
                <%= f.text_field :email, class:"form-control", required:true %>
                  <label class="form-label">Email</label>
              </div>
          </div>
          <%= f.submit "Simpan", class:"btn btn-primary waves-effect" %>

        <% end %>
        </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>Profil</h2>
      </div>
      <div class="body">
            <div class="table-responsive">
              <table class="table table-hover table-striped dashboard-task-infos">
                <tr>
                  <td>Username</td>
                  <td><%= @admin.username %></td>
                </tr>
                <tr>
                  <td>Nama</td>
                  <td><%= @admin.name %></td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td><%= @admin.email %></td>
                </tr>
                <tr>
                  <td>Password</td>
                  <td><%= @admin.decrypt_password  %></td>
                </tr>
              </table>
            </div>
        </div>
    </div>
  </div>
  
</div>