<nav class="navbar">
    <div class="<%= current_admin ? 'container-fluid' : 'container' %> ">
        <div class="navbar-header">
            <% if user_signed_in? %>    
              <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <% end %>
            <% if admin_signed_in? %>
              <a href="javascript:void(0);" class="bars"></a> 
            <% end %>
            <a class="navbar-brand" href="<%= root_path %>">Selamat Datang di Aplikasi LPBBIPA <%= Time.now.year %> </a>
        </div>
        <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">

            <% if current_user.win and DateTime.now >= Schedule.last.end_central_selection - 7.hour %>
              <li>
                <a href="<%= present_confirmation_index_path %>">
                  Konfirmasi Kehadiran
                </a>
              </li>
            <% else %>

            <% end %>
            <li>
              <a href="<%= root_path %>">
                Beranda
              </a>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" style="    margin-top: 8px;">
                <div class="profile profile-user" style="background-image:url(<%= current_user.avatar.path ? current_user.avatar.url : asset_path('dummyuser.png')%>)">
                </div>
                <%= current_user.name %>
                <i class="material-icons" style="position: relative;top: 7px;">keyboard_arrow_down</i>
              </a>
              <ul class="dropdown-menu">
                <li>
                <%= link_to destroy_user_session_path, method: :delete, class: "waves-effect waves-block" do %>
                    <i class="material-icons">input</i>
                    Keluar
                <% end %>
                  <!-- <a href="<%=destroy_user_session_path%>" method="DELETE" class=" waves-effect waves-block">
                  </a> -->
                </li>
              </ul>
            </li>
          </ul>
        </div>
       <% end %>
    </div>
</nav>