<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="image profile">
            <span>A</span>
            <!-- <img src="images/user.png" width="48" height="48" alt="User" /> -->
        </div>
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</div>
            <div class="email"><%= @admin.name %></div>
            <div class="btn-group user-helper-dropdown">
                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                <ul class="dropdown-menu pull-right">
                    <li>
                    <%= link_to destroy_admin_session_path, method: :delete, class: "waves-effect waves-block" do %>
                        <i class="material-icons">input</i>
                        Keluar
                    <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">NAVIGASI UTAMA</li>
            <%if @admin.consulate? %>
                <li class="<%= active_class(admin_root_path, admins_dashboard_index_path) %>">
                    <a href="<%= admin_root_path %>">
                        <i class="material-icons">home</i>
                        <span>Beranda</span>
                    </a>
                </li>
            <% else %>
                <li class="<%= active_class(admin_root_path, admins_dashboard_index_path) %>">
                    <a href="<%= admin_root_path %>">
                        <i class="material-icons">home</i>
                        <span>Beranda</span>
                    </a>
                </li>
                <li class="<%= active_class(profile_path) %>">
                    <a href="<%= profile_path %>">
                        <i class="material-icons">person</i>
                        <span>Profil</span>
                    </a>
                </li>
                <li class="<%= active_class(schedules_path) %>">
                    <a href="<%= schedules_path %>">
                        <i class="material-icons">perm_contact_calendar</i>
                        <span>Jadwal</span>
                    </a>
                </li>
                <li class="<%= active_class(countries_path) %>">
                    <a href="<%= countries_path %>">
                        <i class="material-icons">public</i>
                        <span>Negara</span>
                    </a>
                </li>
                <li class="<%= active_class(consulates_path) %>">
                    <a href="<%= consulates_path %>">
                        <i class="material-icons">domain</i>
                        <span>KBRI/KJRI</span>
                    </a>
                </li>
                <li class="<%= active_class(landings_path) %>">
                    <a href="<%= landings_path %>">
                        <i class="material-icons">pages</i>
                        <span>HALAMAN AWAL</span>
                    </a>
                </li>
                <li class="<%= active_class(age_validations_path) %>">
                    <a href="<%= age_validations_path %>">
                        <i class="material-icons">settings</i>
                        <span>Pengaturan</span>
                    </a>
                </li>
            <% end %>
        </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; <%= Time.now.year %> <a href="javascript:void(0);">LPBBIPA - Atdikbud Kemendikbud RI</a>.
        </div>
    </div>
    <!-- #Footer -->
</aside>