<!DOCTYPE html>
<html>
  <head>
    <title>LPBBIPA <%= content_for(:title) %></title>
    <%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
		
		<link rel="shortcut icon" href="<%= asset_path('kemendikbud.ico')%>">
		<link rel="icon" sizes="16x16 32x32 64x64" href="<%= asset_path('kemendikbud.ico')%>">

  </head>

  <!-- <body class="theme-indigo"> admin-->
  <body class="theme-blue <%= @body_class %>">
		<!-- Page Loader -->
		<div class="page-loader-wrapper">
		    <div class="loader">
		        <div class="preloader">
		            <div class="spinner-layer pl-red">
		                <div class="circle-clipper left">
		                    <div class="circle"></div>
		                </div>
		                <div class="circle-clipper right">
		                    <div class="circle"></div>
		                </div>
		            </div>
		        </div>
		        <p>Mohon tunggu...</p>
		    </div>
		</div>
		<% if user_signed_in? or admin_signed_in? %>
			
			<div class="overlay"></div>
			<%= render "layouts/navbar" %>

			<% if admin_signed_in? %>
				<%= render "layouts/sidebar" %>
				<section class="content">
	        <div class="container-fluid">
						<% if current_admin.role == "consulate" %>
							<div class="container-flash alert alert-warning">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
							  <%= Schedule.status %>
							</div>
						<% end %>
						<%= render  "layouts/flash_messages" %>
			    	<%= yield %>
		    	</div>
	    	</section>
    	<% else %>
				<section class="container container-user ">
						<%= render  "layouts/flash_messages" %>
			    	<%= yield %>
	    	</section>
			<% end %>

		<% else %>
			<%= render "layouts/flash_messages" %>
    	<%= yield %>
		<% end %>

  </body>
</html>
