<p>Halo,</p>
<p>Selamat datang di sistem pendaftaran Lomba Pidato dan Bercerita Bahasa Indonesia bagi Penutur Asing (BIPA).</p>
<br/>

<p>Harap konfirmasi pendaftaran Anda dengan mengeklik tautan</p>
<p><%= link_to "#{confirmation_url(@resource, confirmation_token: @token)}", confirmation_url(@resource, confirmation_token: @token) %></p>
<br/>

<p>Anda mendaftarkan pos-el <%= @user.email rescue nil %></p>
<br>

<p>Anda mendaftar di</p>
<p>KBRI: <%= @user.admin.name rescue nil %></p>
<p>pos-el: <%= @user.admin.email rescue nil %> </p>
<p>nomor telepon: <%= @user.admin.contact rescue nil %></p>
<br/>

<p>Salam kami,</p>
<br/>

<p>Atase Pendidikan dan Kebudayaan Republik Indonesia</p>
<p>Kementerian Pendidikan dan Kebudayaan Republik Indonesia</p>