<% content_for :title, "| Pendaftaran" %>

<div class="signup-box">
    <div class="logo">
        <a href="javascript:void(0);"><b>LPBBIPA <%= Time.now.year%></b></a>
        <small>Selamat Datang di Aplikasi LPBBIPA</small>
    </div>
    <div class="card">
        <div class="body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html:{ id:"sign_up"}) do |f| %>
            <%= devise_error_messages! %>
            <% f.hidden_field :signup, value:true %>
            <div class="msg">Pendaftaran akun baru</div>

            <div class="form-group">
                <label class="form-label ">Nama sesuai paspor<%= required(nil) %></label>
                <div class="form-line">
                    <%= f.text_field :name, class:"form-control", autofocus: true, required:true %>
                </div>
            </div>
            <div class="input-group">
            <label class="form-label ">Jenis kelamin<%= required(nil) %></label>
                <div class="form-line">
                    <%= f.radio_button :gender, "lk", required:true, id:"male", class: "with-gap" %>
                    <%= label :male, "Laki-Laki", for:"male" %>
                    <%= f.radio_button :gender, "pr", id:"female", required:true, class: "with-gap" %>
                    <%= label :female, "Perempuan", for:"female" %>
                </div>
            </div>
            <div class="form-group form-float">
            <label class="form-label ">Tanggal Lahir<%= required(nil) %></label>
              <div class="form-line">
                <%= f.text_field :dob, class:"datepicker form-control", required:true %>
              </div>
            </div>
            <div class="form-group">
                <label class="form-label m-b-10 m-t-10">Di Negara mana anda dilahirkan?<%= required(nil) %></label>
                <div class="input-group form-float">
                    <div class="form-line">
                        <%= f.select(:country_live_id, Country.all.collect {|c| [ c.name, c.id ] }, {}, class:"form-control form-control--z-6 show-tick", required:true, data:{title:"Pilih Negara", "live-search":true}) %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label m-b-10 m-t-10">Di negara mana Anda akan mengikuti lomba?<%= required(nil) %></label>
                <div class="input-group form-float">
                    <div class="form-line">
                        <%= f.select(:country_id, Country.contributes.collect {|c| [ c.name, c.id ] }, {}, id:"country_contest", class:"form-control form-control--z-5 show-tick", required:true, data:{title:"Pilih Negara", "live-search":true}) %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label m-b-10 m-t-10">Di KBRI mana Anda akan mengikuti lomba?<%= required(nil) %></label>
                <div class="input-group form-float">
                    <div class="form-line " id="consulates_lists">
                        <% if resource.consulate %>
                        <%= f.select(:admin_id, resource.country.admins.collect {|c| [ c.name, c.id ] }, {}, class:"form-control form-control--z-4 show-tick", required:true, data:{title:"Pilih KBRI", "live-search":true})%>
                        <% else %>
                            <select name="user[admin_id]" class="form-control form-control--z-4 show-tick" disabled required>
                                <option value="">Pilih KBRI</option>
                            </select>
                        <% end %>
                    </div>
                </div>
            </div>

            <div class="form-group">
            <label class="form-label">Pilih Lomba<%= required(nil) %></label>
                <div class="form-line">
                    <%= f.radio_button :kind_of_contest, "pidato", required:true, id:"pidato", class: "with-gap" %>
                      <%= label :pidato, "Pidato", for:"pidato" %>
                    <%= f.radio_button :kind_of_contest, "bercerita", id:"bercerita", required:true  , class: "with-gap" %>
                      <%= label :bercerita, "Bercerita", for:"bercerita" %>
                </div>
            </div>

            <div class="form-group">
            <label class="form-label"> Pos-el/<i>Email</i><%= required(nil) %></label>
                <div class="form-line">
                    <%= f.email_field :email, class:"form-control", required:true %>
                </div>
            </div>
            <div class="form-group ">
            <label class="form-label">Kata sandi <%= required(nil) %></label>
                <div class="form-line">
                    <%= f.password_field :password, class:"form-control", required:true, autocomplete: "off" %>
                </div>
            </div>
            <div class="form-group form-float">
            <label class="form-label">Konfirmasi kata sandi <%= required(nil) %></label>
                <div class="form-line">
                    <%= f.password_field :password_confirmation, class:"form-control", minlength:"6", required:true, autocomplete: "off" %>
                </div>
            </div>
            <%= show_simple_captcha %>
            <%= f.submit "Daftar", class:"btn btn-block btn-lg bg-pink waves-effect m-t-20" %>
          <% end %>
          <div class="m-t-25 m-b-5 align-center">
            <%= render "users/shared/links" %>
          </div>
          
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="challange" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Perhatian!</h4>
      </div>
      <div class="modal-body">
        <h3>Apakah anda pernah tinggal di Indonesia selama lebih dari 6 bulan (akumulatif)?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger waves-effect for-sorry">Pernah</button>
        <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Belum Pernah</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" id="sorry" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <h5>Maaf! Anda tidak bisa mendaftar</h5>
        </div>
      <div class="modal-footer">
        <a href="<%= root_path %>" class="btn btn-danger waves-effect">Baik</a>
      </div>
    </div>
  </div>
</div>